**body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

html{
    max-width: 100vw;
    width: 1200px;
}
#nav-bar{
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 30px;
    height: 50px;
    background-color: rgb(71, 68, 68)

    
}

#nav-img{
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    margin: 2px auto;
    padding: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
   
}

#main{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    flex-basis: 70%;
    margin-left: 20px;

}

#main #videos{
    padding-bottom: 20px;
}

#views{
    display: flex;
    flex-direction: row; 
    text-align: left;
    margin-left: 0;
}

#views div img{
    display: flex;
    text-align: left;
    
}

#views p{
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 0;
    margin-top: 0;
}

#views #like{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin:5px;
    padding-top: 0;
    padding-right: 40px;
    
   
}

#til{
    display: flex;
    justify-content: space-around;
    justify-items: stretch;

}

#aside{
    display: flex;
    float: right;
    width: 40%;
    height: 150px;
    flex-direction: column;
    margin: 7px auto;
    justify-content: start;
    padding: 20px;
   position: absolute;
   right: 0;
   top: 60px;
   
    
}

aside iframe{
    border: 3px solid blanchedalmond;
    margin-top: 20px;
}

